*{
    box-sizing: border-box /*свойства width и height начинают включать в себя значения padding и border*/
}

.image{
    text-align: center; 
}

.head1 {
    text-align: center;
    background-color: rgb(235, 193, 115);
    color: rgb(228, 91, 212);
    font-size: 60px; /*Размер шрифта*/
}

.contacts{
    text-align: center; /*Отцентровка*/
    background-color: rgb(235, 193, 115);
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px /* Увеличенные внутренние отступы */ 
    link="white" 
    alink="red"
}

.container { 
    max-width: 1000px; /* Уменьшение максимальной ширины */ 
    margin: 0 auto; /* Автоматические поля*/ 
    padding: 20px; /* Увеличенные внутренние отступы */ 
    background-color: #fff; /* Фон для содержания */ 
}

.link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-family: "Nerko One", cursive;
}

.link:hover {
    color: rgb(154, 66, 158);
    text-decoration: underline;
}

.quote__author {
    margin-top: 10px;
    border-top: 1px solid #ed6742; /* декоративная граница */
    font-style: italic;
    font-size: 14px;
    font-weight: 300; /*толщина шрифта*/
}

p {
    display: block; /*занимает всю доступную горизонтальную ширину и располагается на новой строке*/
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

body {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

.dishes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.dish-item {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
    padding: 30px 40px 30px 40px;
    background-color: white;
    border-radius: 35px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    cursor: pointer;
}


.dish-item img {
    width: 100%;
    height: auto;
    border-radius: 35px;
    margin-bottom: 20px;
}

.dish-button {
    background-color: white;
    color: #333;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dish-item:hover {
    border: 2px solid tomato;
}

.dish-item:hover .dish-button {
    background-color: tomato;
    color: white;
}

.price {
    font-size: 20px;
}

.ml_gr{
    color: #333;
}

.add-button {
    background-color: #f1eee9;
    color: #333;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer; /*меняет вид курсора на указатель при наведении на кнопку "Добавить"*/
    margin-top: 20px;
}

nav {
    display: flex;
    flex-wrap: wrap; /*перенос строк*/
    gap: 15px; /*устанавливает отступ 15px между элементами меню*/
    justify-content: left; /*центрирует элементы меню по горизонтали*/
    padding-left: 15px;
    margin-bottom: 30px;
}

#active {
    color: tomato;
}

/*эти блоки определяют стили, которые будут применяться при ширине экрана меньше 800px и 600px
в них меняется количество колонок в сетке с блюдами с 3 на 2 при ширине экрана меньше 800px
при ширине экрана меньше 600px заголовки <h2> центрируются*/

@media (max-width: 800px) {
    .dishes-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    nav{
        justify-content: center; /*центрирует элементы меню по горизонтали*/
    }
}

@media (max-width: 600px) {
    .dishes-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    nav{
        justify-content: center; /*центрирует элементы меню по горизонтали*/
    }

    h2 {
        text-align: center;
    }
}
.form-container {
    display: flex;
    justify-content: space-between;
}
.form-section {
    width: 45%;
    margin: 20px;
}
label {
    display: block;
    margin: 10px 0 5px;
}

select, input[type="text"], input[type="email"], input[type="tel"], textarea, input[type="time"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

textarea {
    height: 80px;
}

.filters a {
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: green;
    border-radius: 35px;
}

.filters .active {
    background-color: rgba(145, 239, 142, 16);
}

.hidden {
    display: none;
}

.filters {
    margin-bottom: 20px;
}

.custom-notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease-in-out;
}

.custom-notification button {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    background-color: white;
    cursor: pointer;
}

.custom-notification button:hover {
    background-color: gray;
}

.combo-block {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.combo-variant {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.combo-dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#combo h2 {
    text-align: center;
    margin-bottom: 20px;
}

.combo-dish img {
    width: 5em;
    height: auto;
}

.combo-dish img:hover {
    transform: scale(1.2) translateY(-10px);
}

.combo-dish p {
    margin-bottom: 0;
}

.combo-dish p:nth-of-type(2) {
    font-size: 10px;
}

