*{
    box-sizing: border-box /*свойства width и height начинают включать в себя значения padding и border*/
}

.head1 {
    text-align: center;
    background-color: rgb(235, 193, 115);
    color: rgb(228, 91, 212);
    font-size: 60px; /*Размер шрифта*/
}

.contacts{
    text-align: center; /*Отцентровка*/
    background-color: rgb(235, 193, 115);
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px /* Увеличенные внутренние отступы */ 
    link="white" 
    alink="red"
}

.container { 
    max-width: 1000px; /* Уменьшение максимальной ширины */ 
    margin: 0 auto; /* Автоматические поля*/ 
    padding: 20px; /* Увеличенные внутренние отступы */ 
    background-color: #fff; /* Фон для содержания */ 
}

.link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-family: "Nerko One", cursive;
}

.link:hover {
    color: rgb(154, 66, 158);
    text-decoration: underline;
}

.quote__author {
    margin-top: 10px;
    border-top: 1px solid #ed6742; /* декоративная граница */
    font-style: italic;
    font-size: 14px;
    font-weight: 300; /*толщина шрифта*/
}

p {
    display: block; /*занимает всю доступную горизонтальную ширину и располагается на новой строке*/
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

body {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}