h1 {
    color: black;

}

.table {
    border: 1px solid aquamarine;
}

.table td {
    border: 1px solid rgb(186, 22, 22);
}

.head1 {
    color: aqua;
}

.contacts{
    background-color: chocolate;
}